[gcode_macro BedFansSlow]
gcode:
	# Vars
	{% set INNERSLOW = printer["gcode_macro bedfanvars"].innerslow|float %}
	{% set OUTERSLOW = printer["gcode_macro bedfanvars"].outerslow|float %}
	
	SET_FAN_SPEED FAN=BedInner SPEED={INNERSLOW}
	SET_FAN_SPEED FAN=BedOuter SPEED={OUTERSLOW}